@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if(Model.Errors.Any())  // Eğer bir hata varsa içeri gir demek (Model.Errors.Any()). Birden fazla olabilir diye <div> tag i açtık
{
    <div class="alert alert-danger"> 
        @foreach (var item in Model.Errors)  // Model.Errors içerisinde foreach ile döneyim. 
        {
          <p>@item</p>  // Birden fazla hata varsa <p> tag i içerinde yazdırayım
        }

    </div>
}